LMGSI/Solucion Ejercicios/Tema 6/Ejercicio 6.12/persona.dtd

<!--<?xml version="1.0" encoding="UTF-8"?> -->
<!ELEMENT listin (persona)+> 
<!ELEMENT persona (nombre, email*, relacion?)>
<!ATTLIST persona id ID #REQUIRED> 
<!ATTLIST persona sexo (hombre | mujer) #REQUIRED> 
<!ELEMENT nombre (#PCDATA)> 
<!ELEMENT email (#PCDATA)> 
<!ELEMENT relacion EMPTY>
<!ATTLIST relacion amigo-de IDREFS #IMPLIED enemigo-de IDREFS #IMPLIED>