LMGSI/Solucion Ejercicios/Tema 5/Ejercicio 5.6/ejercicio5.6.dtd

<!ELEMENT FAQ (INFO, PART+)>
<!ELEMENT INFO (TITULO, AUTOR, EMAIL, VERSION, FECHA)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT FECHA (#PCDATA)>
<!ELEMENT PART (Q+)>
<!ATTLIST PART
          NO ID #REQUIRED
          TITLE CDATA #REQUIRED>
<!ELEMENT Q (QTEXT, A*)>
<!ATTLIST Q
          N CDATA #REQUIRED>
<!ELEMENT QTEXT (#PCDATA)>
<!ELEMENT A (#PCDATA)>
